# まずすべて無視
*

# .c と .h と.cppは無視しない
!*.c
!*.cpp
!*.h

# Makefile も無視しない
!Makefile

# Makefile.win も無視しない
!Makefile.win

# サブディレクトリも対象にする場合
!*/

# .gitignore
!*.gitignore

# .txt .mdも無視しない
!*.txt
!*.md

